@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	margin-left: 20px;
}
.flaticon-male57:before {
	content: "\e000";
}
.flaticon-online2:before {
	content: "\e001";
}
.flaticon-rounded3:before {
	content: "\e002";
}
.flaticon-school21:before {
	content: "\e003";
}
.flaticon-study:before {
	content: "\e004";
}
.flaticon-thin1:before {
	content: "\e005";
}
